body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1098px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:695px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:695px;
  display:flex;
  opacity:0.99;
}
#u144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  display:flex;
}
#u146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:360px;
  height:11px;
  display:flex;
}
#u147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:375px;
  height:667px;
  display:flex;
}
#u148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:375px;
  height:666px;
  display:flex;
}
#u149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:64px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:25px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u150_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:64px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:25px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:64px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:115px;
  width:185px;
  height:64px;
  display:flex;
  opacity:0.99;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:25px;
  color:#797979;
  text-align:center;
}
#u150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u150_img.disabled {
}
#u150.disabled {
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:45px;
  background:inherit;
  background-color:rgba(139, 136, 136, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:315px;
  width:262px;
  height:45px;
  display:flex;
  font-size:16px;
}
#u151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A4A4A4;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:250px;
  width:262px;
  height:45px;
  display:flex;
  font-size:16px;
  color:#A4A4A4;
}
#u152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:193px;
  width:19px;
  height:31px;
  display:flex;
  color:#797979;
}
#u153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u154_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:199px;
  width:62px;
  height:25px;
  display:flex;
  opacity:0.99;
  font-size:16px;
  color:#797979;
}
#u154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u154_img.disabled {
}
#u154.disabled {
}
#u155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:57px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#70B603;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u155_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:57px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#70B603;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:57px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:467px;
  width:177px;
  height:57px;
  display:flex;
  opacity:0.99;
  color:#70B603;
}
#u155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155_img.disabled {
}
#u155.disabled {
}
#u156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:64px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:25px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u156_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:64px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:25px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:64px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:115px;
  width:185px;
  height:64px;
  display:flex;
  opacity:0.99;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:25px;
  color:#797979;
  text-align:center;
}
#u156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u156_img.disabled {
}
#u156.disabled {
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:127px;
  height:5px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:178px;
  width:124px;
  height:2px;
  display:flex;
  opacity:0.99;
}
#u157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#02A7F0;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u158_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#02A7F0;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:377px;
  width:141px;
  height:25px;
  display:flex;
  opacity:0.99;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#02A7F0;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_img.disabled {
}
#u158.disabled {
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:484px;
  width:31px;
  height:31px;
  display:flex;
}
#u159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:259px;
  width:28px;
  height:28px;
  display:flex;
  color:#FFFFFF;
}
#u160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:0px;
  width:375px;
  height:27px;
  display:flex;
}
#u162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:8px;
  width:360px;
  height:11px;
  display:flex;
}
#u163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:27px;
  width:375px;
  height:667px;
  display:flex;
}
#u164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u165_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:34px;
  width:46px;
  height:25px;
  display:flex;
  opacity:0.99;
  font-size:16px;
  color:#797979;
}
#u165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u165_img.disabled {
}
#u165.disabled {
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(139, 136, 136, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:345px;
  width:208px;
  height:45px;
  display:flex;
  font-size:16px;
}
#u166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:235px;
  width:19px;
  height:31px;
  display:flex;
  color:#797979;
}
#u167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u168_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:241px;
  width:149px;
  height:25px;
  display:flex;
  opacity:0.99;
  font-size:20px;
  color:#666666;
}
#u168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u168_img.disabled {
}
#u168.disabled {
}
#u169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:313px;
  width:41px;
  height:1px;
  display:flex;
}
#u170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:313px;
  width:41px;
  height:1px;
  display:flex;
}
#u171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:313px;
  width:41px;
  height:1px;
  display:flex;
}
#u172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:313px;
  width:41px;
  height:1px;
  display:flex;
}
#u173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u174_input {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u174_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:25px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:269px;
  width:286px;
  height:25px;
  display:flex;
  opacity:0.99;
  font-size:15px;
  color:#666666;
}
#u174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u174_img.disabled {
}
#u174.disabled {
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:318px;
  width:109px;
  height:32px;
  display:flex;
}
#u175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:287px;
  width:28px;
  height:28px;
  display:flex;
  color:#FFFFFF;
}
#u176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:124px;
  height:49px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:241px;
  width:114px;
  height:39px;
  display:flex;
  font-size:18px;
  text-align:left;
}
#u177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:347px;
  width:109px;
  height:32px;
  display:flex;
}
#u178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:109px;
  height:110px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:311px;
  width:99px;
  height:100px;
  display:flex;
  font-size:18px;
  text-align:left;
}
#u179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:545px;
  width:28px;
  height:28px;
  display:flex;
  color:#FFFFFF;
}
#u180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:99px;
  height:110px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:438px;
  width:89px;
  height:100px;
  display:flex;
  font-size:18px;
  text-align:left;
}
#u181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:354px;
  width:28px;
  height:28px;
  display:flex;
  color:#FFFFFF;
}
#u182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:320px;
  width:28px;
  height:28px;
  display:flex;
  color:#FFFFFF;
}
#u183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:468px;
  width:28px;
  height:28px;
  display:flex;
  color:#FFFFFF;
}
#u184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:99px;
  height:110px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:361px;
  width:89px;
  height:100px;
  display:flex;
  font-size:18px;
  text-align:left;
}
#u185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#02A7F0;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u186_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#02A7F0;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:377px;
  width:85px;
  height:25px;
  display:flex;
  opacity:0.99;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#02A7F0;
}
#u186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u186_img.disabled {
}
#u186.disabled {
}
